/* font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
    font-size: 1rem;
    color: rgb(107, 107, 107);
}

.main-container-wrapper {
    padding-top: 6rem;
}

/* Navigation bar style */
.nav-wrapper {
    background-image: url("../images/TRIANGLE_BACKGROUND.jpg");
    /* background-color: rgba(255, 255, 255, 1.0); */
    min-height: 100px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    /* align-items: left; */
    padding-top: 2rem;
    padding-bottom: 1.6rem;
    position: fixed; 
    z-index: 100;
    /* margin-left: 6rem;
    margin-right: 6rem; */
    top: 0;
    box-shadow: 0px 0px 50px  rgba(53, 71, 65, 0.797);
    background-size: cover;
}
 
.nav-header {
    color: rgb(105, 138, 127);
    text-align: left;
    letter-spacing: .05rem;
    font-size: .8rem;
    padding: 0rem 3rem;
}
  
.nav-header-item {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1rem;
    letter-spacing:.07rem;
    padding-right:1rem; 
    font-weight: 500;
}

.nav-header a:hover {
    color: #f90081;
    text-decoration: none;
}

a span#nav-header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding: .5rem .5rem .5rem 1rem;
    font-size: 1rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-bottom: 1rem;
    border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    border-top: 25px solid white;
    margin-right: 1rem;
    
}

span#nav-header-logo a {
    color: #f90081;
}
span#nav-header-logo a:hover {
    color: white;
}

/* Text styling */
h1.nav-description {
    font-family: 'Raleway', sans-serif;
    font-size: .7rem;
    line-height: 8.rem;
    color: rgb(23, 61, 61);
    letter-spacing:.1rem;
    /* text-shadow: 0px 0px 10px  rgba(46, 63, 58, 0.9); */
    text-transform: uppercase;
    font-weight: 600;
    
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: #f90081;
    letter-spacing:.05rem;
    padding-top: 3rem;
    line-height: 2rem;
    margin-bottom: .5rem;

}

h4 {
    /* font-family: 'Raleway', sans-serif; */
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #f90081;
    text-align: left;
    font-size: .9rem;
}

.subhead {
    font-weight: 400;
    color: rgb(120, 120, 121);
    letter-spacing: .03rem;
}

.introText {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
    padding: 2rem 10rem;
    text-align: left;
    color: #000000;
}

.mainText {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
    padding: 2rem 4rem;
    text-align: center;
    color: white;
}

/* Parallax styling */

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
background-image: url("../images/TRIANGLE_BACKGROUND.jpg");
width: 100%;
min-height: 200px;
background-size: cover;
}

.bgimg-2 {
background-image: url("../images/clouds.jpg");
min-height: 600px;
width: 100%;
}

.bgimg-3 {
background-image: url("../images/clouds.jpg");
min-height: 600px;
width: 100%;
}

.caption {
position: absolute;
left: 0;
top: 20%;
width: 100%;
text-align: center;
color: #000;
}

span.border {
    font-family: 'Raleway', sans-serif;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: .6rem;
    letter-spacing: .5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

span.border#resume {
    align-items: center;
}

/* experience div styling */

article.workPlace  {
    padding: 0rem 10rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

div.work-experience{
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

p.experience{
    font-size: .8rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8rem;
    letter-spacing: .05rem;
    text-align: left;
    color: #ffffff;
}

/* Triangle shape */
.triangle-1 {
	width: 100%;
	/* height: 50; */
	border-left: 0px solid transparent;
	border-right: 1024px solid transparent;
    border-top: 600px solid rgb(42, 118, 119);
    background-color: white;
}

.triangle-2 {
	width: 100%;
	/* height: 50; */ 
	border-left: 0px solid transparent;
	border-right: 1024px solid transparent;
    border-bottom: 600px solid rgb(248, 190, 190);
    background-color: white;
}

/* Contact area styling */

p.contact {   
    margin-top: 2rem;
}

p.contact a{   
    color: #f90081;
}

/* Footer area */
.footer-wrapper{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer-col-1{
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    text-align: center; 
}


/* BLOG area */

main.blog{
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 0rem 10rem;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}