/* main container css */

/* font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1em;
}

.main-container-wrapper {
    margin: 6em 6em;
}

/* Navigation bar style */
.nav-wrapper {
    background-color: rgba(255, 255, 255, 1.0);
    width: 100%;
    overflow: hidden;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    position: fixed; 
    top: 0;
    margin-right: 7.35em;
    /* box-shadow: 0px 3px 15px  rgba(105, 138, 127, 0.797); */
}
 
  .nav-header-logo {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: rgb(105, 138, 127);
    text-align: center;
    letter-spacing: .05em;
    font-size: 20px;
    padding-bottom: 1em;
    align-items: left;
    padding-right: 3em;
  }
  
.nav-header-item {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: rgb(46, 45, 45);
    font-size: .75em;
    letter-spacing:.05em;
    padding-right:.75em; 
}

.nav-header a:hover {
    color: black;
  }

/* Text styling */

h1.serif-hed {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: rgb(50, 50, 50);
    letter-spacing:.02em;
    padding-top: 1em;
}

.subhead {
    font-family: 'Playfair Display', serif;
    color: slategrey;
}

.introText {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    line-height: 2em;
}

footer {
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    background-color: slategrey;
    width: 100%;
    padding: 1em 6em;
    color: white;
    /* position: fixed; 
    bottom: 0; */
    width: 100%;
    font-size: .75em;
}


/* text styling */

span.lightSlate {
   font-weight: lighter;
   color: slategrey; 
}

.workPlace {
    padding-top: 1.5em;
}

